:root {
  --railewey: "Raleway", sans-serif;
  --text-light: #ffffff;
  --prime-color: #ff6c00;
  --hero-color: #191c26;
  --text-grey: #9da4bd;
  --main-text: #555555;
  --dark-text: #303030;
  --white: #ffffff;
  --background-light: #f7f7f7;
  --background-dark: #111319;
  --trans-fast: 300ms ease-in-out;
  --trans-slow: 500ms ease-in;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* /header/ */

a:hover,
a:focus {
  color: var(--prime-color);
}

button {
  font-family: "Open Sans", sans-serif;
  display: block;
}

.header {
  display: flex;
  justify-content: center;
  z-index: 100;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.no-transparency {
  background-color: #191c2650;
  backdrop-filter: blur(4px);
}

.header-block {
  height: 127px;
  display: flex;
  margin-top: 11px;
  margin-bottom: 11px;
}

.header-logo {
  margin-top: 40px;
  margin-right: 130px;
}

.header-img {
}

.header-nav {
  margin-right: auto;
}

.header-wrap {
  display: flex;
  align-items: center;
}

/*                                .header-nav, */

.header-list {
  display: flex;
  gap: 30px;
}

.header-link,
.contact-link {
  position: relative;
  display: block;

  font-style: normal;
  color: var(--text-light);
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16.34 / 12);
  letter-spacing: 0.01em;

  background-color: var(--hero-color) 20%;

  transition: color var(--trans-fast);
}

.header-link::after,
.contact-link::after {
  content: "";
  position: absolute;
  left: 5%;
  bottom: -68px;

  width: 90%;
  height: 4px;
  border-radius: 4px;

  background-color: var(--prime-color);
  opacity: 0;
  transform: scaleX(0.2);

  transition: opacity var(--trans-fast), transform var(--trans-fast);
}

.header-link.current::after,
.header-link:hover:after,
.header-link:focus:after,
.contact-link:hover:after,
.contact-link:focus:after {
  opacity: 1;
  transform: scaleX(1);
}

.header-link:hover,
.header-link:focus,
.header-link.current,
.contact-link:hover,
.contact-link:focus {
  color: var(--prime-color);
}

.dark {
  color: var(--text-light);
  background: var(--hero-color);
}

.light {
  color: var(--dark-text);
}

.grey {
  color: var(--text-grey);
}

.soc-item {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(14.98 / 11);
  letter-spacing: 0.02em;
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 254px;
}

.booking-button {
  width: 160px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16.34 / 12);
  letter-spacing: 0.09em;
  border: solid 1px var(--prime-color);
  border-radius: 25px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;

  transition: color var(--trans-fast), background-color var(--trans-fast);
}

.booking-button:hover,
.booking-button:focus {
  background-color: var(--prime-color);
}

/* main .................hero*/

.hero {
  font-family: "Open Sans", sans-serif;
  color: var(--text-light);
}

.hero-wrap {
  display: flex;
}

.hero-left-side {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  width: 100px;

  transform: rotate(-90deg) translateY(38px);
  transform-origin: bottom left;
}

.hero-list,
.footer-list {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 40px;
  margin-left: 40px;
}

.hero-list::before,
.footer-list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--dark-text);
}

.hero-item {
}

.hero-link {
}

.hero-right-side {
  /* max-width: 1070px;
  width: 1169px; */
  width: 1070px;
  padding: 272px 0 208px 100px;
  background-color: var(--hero-color);
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/header-hero/Slider-img3-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-uppertitle {
  animation: slide-to-bottom 500ms ease-out 200ms 1 both;
}

@keyframes slide-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-title {
  animation: slide-to-right 1000ms ease-out 700ms both;
}

@keyframes slide-to-right {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
    letter-spacing: 0.3em;
  }
  100% {
    transform: translateX(0);
    letter-spacing: 0.05em;
  }
}

.hero-undertitle {
  animation: slide-to-bottom 400ms ease-out 1700ms 1 both;
}

@keyframes slide-to-top {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(14.98 / 11);
  color: var(--text-grey);
  opacity: 60%;
  text-transform: uppercase;
}

.hero-text::before,
.services-text::before,
.contact-text::before {
  content: "";
  display: inline-block;
  align-items: center;
  width: 60px;
  height: 1px;
  background-color: #9da4bd;
  margin-right: 20px;
}

.text-dark {
}

.hero-title {
  font-family: var(--railewey);
  font-size: 72px;
  line-height: calc(84.53 / 72);
  letter-spacing: 0.05em;
  color: var(--text-light);
  margin: 20px 0 20px 0;
}

.hero-info {
  display: block;
  width: 360px;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--text-grey);
}

.slider-controls {
  right: 35px;
  bottom: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.slider-item {
  /* width: 60px;
  height: 24px; */
}

.slider-btn {
  min-width: 60px;
  min-height: 24px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.01em;
  text-align: right;
  border: none;
  border-bottom: 1px solid #ffffff;

  color: var(--text-light);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  padding-bottom: 8px;
}

.disable {
  color: #9da4bd;
  opacity: 60%;
  border-bottom: 1px solid #9da4bd60;
  text-align: left;
}

/* .....................about */

.about {
  font-family: "Open Sans", sans-serif;
}

.img-wrap {
  display: flex;
}

.info-wrap {
  /* gap: 20px; */
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
  justify-content: space-between;
  height: 445px;
}

.about-wrap {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 30px;
  max-width: 1170px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-item {
  overflow: hidden;
}

.about-item:hover .about-img {
  transform: scale(1.2);
}

.about-img {
  max-width: 100%;
  height: auto;
  z-index: 1;

  transition: transform 1000ms ease;
}

.info-wrap .light {
  margin-top: 42px;
  margin-left: 30px;
}

.about-line {
  display: flex;
  align-items: center;
  color: var(--dark-text);
  font-weight: 600;
  font-size: 11px;
  line-height: calc(14.98 / 11);
}

.about-title,
.services-title,
.why-us-title,
.barbers-title {
  font-family: var(--railewey);
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49.31 / 42);
  letter-spacing: 0.05em;
  color: var(--dark-text);
  margin: 20px 0 20px 0;
}

.why-us-title {
  width: 430px;
}

.about-title {
  width: 470px;
}

.about-text {
  width: 470px;
  color: var(--main-text);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

.about-line,
.why-us-text,
.barbers-text,
.gallery-text {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.about-line::before,
.why-us-text::before,
.barbers-text::before,
.gallery-text::before {
  content: "";
  background-color: var(--dark-text);
  width: 60px;
  height: 1px;
  margin-right: 20px;
}

.about-info {
  width: 470px;
  color: var(--main-text);
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
}

.about-button {
}

/*                         services */

.services {
  display: block;
  font-family: "Open Sans", sans-serif;
  background-color: #11131920;
  background-image: linear-gradient(
      180deg,
      #171a24 0%,
      rgba(23, 26, 36, 0.2) 100%
    ),
    url(../images/header-hero/slider-img2-min.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services-wrap {
  display: block;
  margin: 0 auto;
  max-width: 1170px;
}

.services-wrap .booking-button {
  margin: 0 auto;
}

.services-title {
  color: var(--text-light);
}

.services-info {
  display: flex;
  /* margin-bottom: 44px;
  margin-top: 44px; */
  margin: 40px 0 44px 0;
  gap: 30px;
}

.services-info-first {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.services-info-second {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services-text {
  display: flex;
  align-items: center;
  color: var(--text-grey);
  opacity: 60%;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(14.98 / 11);
}

.table-list {
}

.table-item {
  width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

.table-text,
.table-price {
  color: var(--text-grey);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

.table-price {
  text-align: right;
  /* max-width: 124px;
  width: 100%; */
}

/*                         benefits */

.benefits {
  font-family: "Open Sans", sans-serif;
  color: var(--dark-text);
}

.benefits-wrap {
  display: flex;
  justify-content: space-evenly;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 370px;
}

.benefits-item:nth-of-type(2n) {
  margin-top: 30px;
  /* margin-left: 30px; */
}

.benefits-item {
  width: 170px;
  height: 133px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  background-color: var(--background-light);
  /* border: 1px dashed #ff6c00; */
}

.benefits-span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57.2 / 42);
  letter-spacing: 0.05em;
}

.benefits-sign {
  height: 57px;
  color: var(--prime-color);
  font-weight: 600;
  font-size: 16px;
  line-height: calc(21.79 / 16);
  padding-top: 12px;
}

.benefits-text {
  width: 122px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(14.98 / 11);
  text-align: center;
}

/* why-us */

.why-us {
  font-family: "Open Sans", sans-serif;
  color: var(--dark-text);
  /* margin-left: 130px; */
}

.why-us-info {
  color: var(--main-text);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  max-width: 500px;
}

/*                        barbers */

.barbers {
  display: flex;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-light);
  color: var(--dark-text);
}

.barbers-wrap {
}

.barbers-list {
  display: flex;
  justify-content: flex-start;
}

.barbers-item {
  margin-right: 30px;
  text-align: center;
}

.barbers-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  background-color: #9da4bd40;
  backdrop-filter: blur(2px);

  transform: translateY(101%);

  transition: transform var(--trans-fast);
}

.barbers-item:hover .overlay {
  transform: translateY(0);
}

.overlay-text {
  font-weight: 700;
  letter-spacing: 0.02em;

  padding-left: 20px;
  padding-right: 20px;

  color: var(--prime-color);
}

.barbers-img {
  display: block;
  border: none;
}

.barbers-name {
  margin-top: 30px;
  font-size: 18px;
  line-height: calc(24.51 / 18);
  letter-spacing: 0.02em;
}

.barbers-info {
  color: var(--prime-color);
  font-size: 14px;
  line-height: calc(19.07 / 14);
  letter-spacing: 0.02em;
}

.social-list {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
}

.barbers-soc {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border: solid var(--text-light);
  border-radius: 50%;

  background-color: #ffffff;
  fill: var(--dark-text);

  margin-top: 30px;

  transition: fill var(--trans-slow);
}

.barbers-soc:hover,
.barbers-soc:focus {
  fill: var(--prime-color);
}

/*                          gallery */

.gallery {
  display: flex;
}

.gallery-text,
.barbers-text,
.why-us-text {
  color: var(--dark-text);
  font-size: 11px;
  line-height: calc(14.98 / 11);
  text-transform: uppercase;
}

.gallery-text {
  margin-bottom: 44px;
}

.gallery-slider {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item:hover .gallery-img {
  transform: scale(1.2);
}

.gallery-img {
  max-width: 100%;
  height: auto;

  transition: transform 1000ms ease;
}

.gallery-img {
}

/*                                 booking */

.booking-contacts {
  height: 585px;
  background-color: var(--hero-color);
  color: var(--text-light);
}

.booking-contacts-wrap {
}

.booking-wrap {
  height: 585px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  /* justify-content: center;
  align-content: flex-end; */
  gap: 30px;
}

.booking {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 120px;
  justify-content: flex-start;
  /* margin-top: 130px; */
  /* align-items: flex-start;
  justify-content: flex-start; */
}

.booking-title {
  height: 49px;
  font-family: var(--railewey);
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49.31 / 42);
  line-height: 0.05em;
  /* margin: 40px 0 40px 0; */
}

/*        form */

.booking-form {
  /* margin-top: 40px; */
}

.booking_label {
  display: block;
  width: 270px;
  /* position: absolute; */
}

.booking-form-label {
  display: block;
  position: relative;

  font-size: 11px;
  font-weight: 600;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;

  color: rgba(157, 164, 189, 0.4);
  /* position: relative; */
}

/* .booking-form-label::before {
  content: "";
  display: block;
} */

.booking_input:hover,
.booking_label:hover,
.booking-form-label:hover,
.booking_input:focus,
.booking_label:focus,
.booking-form-label:focus {
  color: var(--text-light);
}

.booking_input {
  width: 270px;
  color: #ffffff;
  outline: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  position: absolute;
}

.booking_input::placeholder {
  color: rgba(157, 164, 189, 0.2);
  padding-left: 50px;
}

.form-thumb {
  width: 570px;
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
  margin-top: 40px;
  /* position: absolute; */
}

.comments {
  display: block;
  width: 570px;
  position: absolute;
  height: 60px;
}

.booking-button .form-btn {
  display: block;

  /* margin-top: 80px; */
}

.form-btn {
  /* margin-top: 40px; */
  position: relative;
  top: 105px;
}

/* .label-name {
  position: absolute;
} */

.input-name {
  /* position: relative; */
}

.label-tel {
  /* position: absolute; */
  /* position: relative; */
  bottom: 40px;
}

/*                        contacts */

.contacts {
  width: 50%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-image: url(../images/services/Bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: left calc(50%-373px) top 50%; */
  background-color: #191c26;
}

.contacts-wrap {
  width: 100%;
  display: flex;
  margin-left: 100px;
  margin-top: 130px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.contacts-title {
  display: block;
  width: 100%;
  height: 100%;
  font-family: var(--railewey);
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49.31 / 42);
  line-height: 0.05em;
  margin-bottom: 40px;
}

.contacts-address {
  margin-top: 40px;
}

.contacts-item,
.contacts-link {
  color: var(--text-grey);
  font-style: normal;
}

.contacts-item,
.contact-link {
  color: var(--white);
}

.contacts-link {
}

.contacts-item {
  margin-bottom: 20px;
}

.contacts-item:first-of-type {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

.icon-contact {
  margin-right: 20px;
}

.contact-text {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(14.98 / 11);
  text-transform: uppercase;
  color: var(--text-light);
}

.contact-info {
  color: var(--text-grey);
}

/*                      footter */

footer {
  background: var(--background-light);
}

.footer {
  display: flex;

  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-sign {
  color: var(--text-grey);
}

.footer-list {
  display: flex;
  justify-content: flex-end;

  width: 80%;
}

.footer-list {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 40px;
  margin-left: 40px;
}

.footer-list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--dark-text);
}

.soc-link {
  color: var(--dark-text);

  transition: color var(--trans-slow);
}

.soc-link:hover,
.soc-link:focus {
  color: var(--prime-color);
}

/*                       modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opasity 150ms linear, visibility 150ms linear;
}

.backdrop .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;

  transition: transform 1000ms ease-out;
}

.modal {
  transform: translateX(-50%) translateY(-60%);
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--dark-text);
  background-color: transparent;
  cursor: pointer;
}

.form-icon {
  width: 20px;
  height: 20px;
}
